a, p, h1, h2, h3, h4, h5, h6{
    font-family: 'Ubuntu', sans-serif; 
}
#headline, .techline, .findline{
    text-align: center;
}

.centerImage{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.findImage{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.techline > .row{
    padding: 10px;
}
#resumeButton{
    margin: auto;
    width: auto;
    color: white;
    vertical-align: middle;
    padding: 10px;
}